html, body {
  font-size: 8px;
}

body {
  background: #fcfcfc;
  font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Literata', serif;
}

h1 {
  color: #646464;
  font-size: 4rem;
}

h2 {
  color: #8b8887;
  font-size: 2.5rem;
}

p {
  color: #aaaaaa;
  font-size: 2rem;
}

ul {
  color: #aaaaaa;
  font-size: 2rem;
  margin-top: 0;
  padding: 0;
}

ul li {
  display: inline-block;
  padding: 0 1rem;
}

ul li a {
  color: #88b6ef;
}

ul li a:hover {
  color: #4f8ad3;
  transition: 0.15s;
}

::selection {
  background-color: #ccc;
  color: white;
}

.website {
  padding: 2rem 0;
}

.website__content {
  margin: auto;
  max-width: 60rem;
  padding: 0 4rem;
}

.samuel-chavez {
  margin-bottom: 4rem;
  padding-top: 4rem;
  text-align: center;
}

.samuel-chavez img {
  object-fit: cover;
}

.samuel-chavez img {
  border-radius: 10rem;
  height: 20rem;
  width: 20rem;
}

.startups {
  margin-bottom: 4rem;
  text-align: center;
}

.resources {
  margin-bottom: 4rem;
  text-align: center;
}

.contact {
  text-align: center;
}
